/*
This file is part of World of Diceness, an online dice roller focused
on rolling dice quickly.

Copyright 2020 Los Archivos de la Noche

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as
published by the Free Software Foundation, either version 3 of the
License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <https://www.gnu.org/licenses/>.
*/

html {
    background-color: seagreen;
    margin: 0 auto;
    color: white;
    padding: 0.5em;
}

h1 {
    color: white;
    text-align: center;
    text-shadow: 3px 3px 5px grey;
}

input {
    margin: 2px;
}

a {
    color: gold;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    font-size: 140%;
}

#messages {
    background-color: linen;
    color: black;
    padding: 2px;
    height: 100%;
    align: center;
    overflow-y: auto;
}

#lowbar {
    align: bottom;
}

#input-area {
    width: 100%;
}

.die {
    border-radius: 50%;
    font-size: large;
    width: 40px;
    height: 40px;
}

.roll {
    font-size: 120%;
    color: maroon;
    font-weight: bold;
}

#main-app {
    height: 500px;
    padding: 0.5em;
}


#player-area {
    width: 30%;
    float: right;
}

#chat-area {
    width: 70%;
    height: 100%;
}

#input-message {
    width: 80%;
}

#button-send {
    float: right;
}

#input-area {
   margin-top: 0.5em;
}

#low-bar {
    position: absolute;
    bottom: 0px;
    margin-bottom: 0.5 em;
}
